* {
  box-sizing: border-box;
}

.body {
  font-family: Arial, Helvetica, sans-serif;
}
.headerContainer{
    max-width: 900px;
    margin: 40px auto;
}
.headerContainer img{
    width: 200px;
}
.container{
    display: flex;
    max-width: 900px;
    margin: auto;
    gap: 40px;
}
.container .leftSide, .container .rigthSide{
    flex: 1;

}

.leftSide h1{
   margin: 0;
   font-size: 40px;
   color: #3a4b5c;
}
.leftSide p{
   font-size: 20px;
   margin-bottom: 40px;
    color: #6a7d8b;
}
.leftSide input{
   width: 100%;
   border: 0;
   border-bottom: 2px solid #3a4b5c;
   padding: 10px 2px;
   margin-bottom: 20px;
    font-size: 18px;
    outline: 0;
}
.leftSide input:disabled{
   opacity: 0.5;
}
.leftSide button{
   background-color: #227c9d;
   color : #fff;
   font-size: 15px;
    border: 0;
    border-radius: 10px;
    padding: 15px 0; 
    width: 100%;
    cursor: pointer;
    margin-top: 40px;
    transition: all ease 0.3s;
}
.leftSide button:disabled{
  opacity: 0.5;
  cursor: not-allowed;
}
.leftSide button:hover{
  opacity: 0.9;
}
.rigthSide{
    display: flex;
}
.rigthSide .grid{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.rightBig{
    flex: 1;
    display: flex;
}
.rightArrow{
    position: absolute;
    background-color: #227c9d;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;    
    margin-left: -35px;
    margin-top: 160px;
    border-radius: 50%;
    align-items: center;
    cursor: pointer;
    transition: all ease 0.3s;
}
.rightArrow:hover{
    opacity: 0.9;
}
@media (max-width: 770px) {
    header{
        padding: 0 20px;
    }
    .container{
        padding: 20px;
        flex-direction: column;
    }
    .rightArrow{
        margin-top: 0px;
        margin-left: 0;
        border-radius: 10px;
    }
}
@media (max-width: 430px) {
    .rigthSide .grid{
        grid-template-columns: 1fr;
    }
}